.skills-section {
  background: #f2f2f2;
  padding: 80px 40px;
}

.skills-section h2 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 40px;
  border-left: 5px solid #f9b233;
  padding-left: 10px;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skill{
    display: flex;
    gap: 10px;
    align-items: center;
    transition:o.3s;
}
.skill p{
     display: flex;
    min-width: 150px;
    font-size: 18px;
    font-weight: 500;
}
.skill hr{
    outline:none;
    border:none;
    height:8px;
    width:50%;
    border-radius: 50px;
    background: #f9b233;
    margin-left:0;
}
.achivement{
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-bottom:80px;
}
.achive-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
.achive-item h1{
    font-size: 2rem;
    font-weight: 600;
    background: #000000;;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achive-item p{
    font-size: 18px;
    font-weight: 500;
}
.skill:hover, .achive-item:hover{
    transform: scale(1.1);
    background: #f9b233;
    transition: 0.3s;
    border-radius: 5px;
}

